@using ContractAndProjectManager.Services
@using ContractAndProjectManager.Entities
@using ContractAndProjectManager.Models
@inject UserService UserService;

@{
    var user = Context.User;
    var isAuthenticated = Context.User?.Identity.IsAuthenticated ?? false;
    var b = new RouteValue { Area = "Auth", Controller = "Home" };
    var baseUrlValues = UserService.User != null ? Role.All.FirstOrDefault(x => x.Id == UserService.User.RoleId)?.LogInRouteValues ?? b :
        b;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>@ViewData["Title"] - Проектная деятельность</title>
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Fira+Sans:wght@300;400;500&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="~/css/site.css"/>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css">
</head>
<body>
<header>
    <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
        <div class="container">
            <a asp-area="@baseUrlValues?.Area" asp-controller="@baseUrlValues?.Controller" asp-action="Index" class="navbar-brand">Проектная деятельность</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                    aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse">
                <ul class="navbar-nav flex-grow-1">
                    @if (isAuthenticated)
                    {
                        <li class="d-flex flex-items-center" style="margin-left: auto">
                            <p class="text text-info m-0 mr-3" style="line-height: 2.5">@UserService.User.Email</p>
                            <a asp-area="Auth" asp-controller="Auth" asp-action="LogOut">
                                <button class="btn btn-light">Выход</button>
                            </a>
                        </li>
                    }
                    else
                    {
                        <li class="nav-item ml-auto" style="margin-left: auto">
                            <a class="nav-link text text-red">Не авторизованы</a>
                        </li>
                    }
                </ul>
            </div>
        </div>
    </nav>
</header>
<div class="container">
    <main role="main" class="pb-3">
        @RenderBody()
    </main>
</div>

<footer class="border-top footer text-muted px-2">
    <div class="container">
        &copy; 2020 - Проектная деятельность
    </div>
</footer>
<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
<script src="~/js/site.js" asp-append-version="true"></script>
@RenderSection("Scripts", required: false)
</body>
</html>