@using ContractAndProjectManager.Services
@inject UserService UserService;

@{
    var user = Context.User;
    var isAuthenticated = Context.User?.Identity.IsAuthenticated ?? false;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>@ViewData["Title"] - Проектная деятельность</title>
    <link rel="stylesheet" href="~/css/site.css"/>
    <link href="~/lib/Primer/primer.css" rel="stylesheet" />
</head>
<body>
<header>
    <nav class="border-sm-bottom box-shadow-medium mb-3">
        <div class="d-flex mx-auto flex-items-center px-2" style="max-width: 1280px; height: 50px">
            <a class="h3 text-gray-dark" asp-area="Project" asp-controller="Home" asp-action="Index" style="white-space: nowrap">Проектная деятельность</a>

            <div class="d-flex ml-3 width-full">
                <ul class="d-flex list-style-none flex-items-center width-full">
                    @if (isAuthenticated)
                    {
                        <li>
                            <a class="nav-link text-blue" asp-area="" asp-controller="Home" asp-action="Index">Категория</a>
                        </li>
                        
                        <li class="d-flex flex-items-center"  style="margin-left: auto">
                            <a class="text text-info mr-3">@UserService.User.Email</a>
                            <a class="text-dark" asp-area="Auth" asp-controller="Auth" asp-action="LogOut">
                                <button class="btn btn-light">Выход</button>
                            </a>
                        </li>
                    }
                    else
                    {
                        <li class="nav-item ml-auto"  style="margin-left: auto">
                            <a class="nav-link text text-red">Не авторизованы</a>
                        </li>
                    }
                </ul>
            </div>
        </div>
    </nav>
</header>
<div class="container">
    <main role="main" class="pb-3 px-2 mx-auto" style="max-width: 1280px">
        @RenderBody()
    </main>
</div>

<footer class="border-top footer text-muted">
    <div class="container">
        &copy; 2020 - Проектная деятельность
    </div>
</footer>
<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
<script src="~/js/site.js" asp-append-version="true"></script>
@RenderSection("Scripts", required: false)
</body>
</html>