<div class="grid-default">
    <button class="btn btn-primary btn-lg">
        <a asp-area="Planner" asp-controller="Request" asp-action="Index">Заявки</a>
    </button>

    <button class="btn btn-info btn-lg">
        <a asp-area="Planner" asp-controller="Contract" asp-action="Index">Договора</a>
    </button>
    
    <button class="btn btn-warning btn-lg">
        <a asp-area="Planner" asp-controller="Project" asp-action="Index">Проекты</a>
    </button>
</div>