<div class="grid-default">
    <a class="btn btn-primary btn-lg" asp-area="Planner" asp-controller="Request" asp-action="Index">Заявки</a>


    <a class="btn btn-info btn-lg" asp-area="Planner" asp-controller="Contract" asp-action="Index">Договора</a>


    <a class="btn btn-warning btn-lg" asp-area="Project" asp-controller="Project" asp-action="Index">Проекты</a>


    <a class="btn btn-dark btn-lg" asp-area="Planner" asp-controller="Team" asp-action="Index">Команды</a>

</div>