@model ContractAndProjectManager.Entities.Task

@{
    ViewData["Title"] = "Редактирование";
}

<h1>Редактирование</h1>

<h4>Задача</h4>
<hr />
<div class="row">
    <div class="col-md-6">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="Title" class="control-label">Название</label>
                <input asp-for="Title" class="form-control" />
                <span asp-validation-for="Title" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Description" class="control-label">Примечание</label>
                <textarea asp-for="Description" class="form-control" rows="5"></textarea>
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="DateStart" class="control-label">Дата начала</label>
                <input type="date" asp-for="DateStart" class="form-control" />
                <span asp-validation-for="DateStart" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DateDeadLine" class="control-label">Дата окончания</label>
                <input type="date" asp-for="DateDeadLine" class="form-control" />
                <span asp-validation-for="DateDeadLine" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="ExecutorId" class="control-label">Исполнитель</label>
                <select asp-for="ExecutorId" class="form-control" asp-items="ViewBag.ExecutorId"></select>
                <span asp-validation-for="ExecutorId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="StageId" class="control-label">Этап</label>
                <select asp-for="StageId" class="form-control" asp-items="ViewBag.StageId"></select>
                <span asp-validation-for="StageId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Сохранить" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Назад к списку</a>
</div>

