:root {
    --indent-1: 6px;
    --indent-2: 12px;
    --indent-3: 20px;
    --indent-4: 40px;
    
    --table-color-fainter: #f4f5f7;
    --table-color-faint: #d5dbe3;
    --table-color: #c1c7d0;
    
    --table-header-height: 50px;
    --table-column-width: 260px;
    --table-bar-in-color: #8777d9;
    --table-bar-in-color-darken: #7a6ac4; 
}

*:not(.fa):not(.fas):not(.far) {
    font-family: 'Inter', sans-serif !important;
    transition: 0.3s all;
}

a.navbar-brand {
    white-space: normal;
    text-align: center;
    word-break: break-all;
}

/* Provide sufficient contrast against white background */
a {
    color: #0366d6;
}

.validation-summary-errors ul {
    list-style: none;
}

.validation-summary-errors li {
    margin: 5px 0;
}

.btn-primary {
    color: #fff;
    background-color: #1b6ec2;
    border-color: #1861ac;
}

.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
    color: #fff;
    background-color: #1b6ec2;
    border-color: #1861ac;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
    font-size: 14px;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

.border-top {
    border-top: 1px solid #e5e5e5;
}

.border-bottom {
    border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
    box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy {
    font-size: 1rem;
    line-height: inherit;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
    position: relative;
    min-height: 100%;
}

body {
    /* Margin bottom by footer height */
    margin-bottom: 60px;
}

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    white-space: nowrap;
    line-height: 60px; /* Vertically center the text there */
}


button > a {
    color: white;
    text-decoration: none !important;
}

button > a:hover {
    color: white;
    text-decoration: none !important;
}

.table th {
    font-weight: 400;
}

.grid-default {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(25px, max-content));
    grid-template-rows: repeat(auto-fit, minmax(25px, max-content));
    grid-gap: var(--indent-2);
}

.grid-default-2 {
    grid-gap: var(--indent-3);
    grid-template-columns: repeat(auto-fit, minmax(100px, max-content));
}

.grid-default-3 {
    grid-gap: var(--indent-4);
}

.white-space-no-wrap {
    overflow: hidden;
    white-space: nowrap;
}

.grid-categories {
    grid-template-columns: repeat(auto-fit, minmax(70px, max-content));
}

.project-map {
    width: 100%;
    border: 1px solid var(--table-color);
    border-radius: 5px 5px 0 0;
    height: 100%;
    overflow: hidden;
    position: relative;
    margin-bottom: calc(-1*(1rem + 1px));
}

.project-map > * {
    cursor: default;
}

.p-border-right {
    border-right: 1px solid var(--table-color);
}

.p-border-right-bold {
    border-right: 2px solid var(--table-color);
}

.p-border-bottom {
    border-bottom: 1px solid var(--table-color);
}

.p-border-bottom-bold {
    border-bottom: 2px solid var(--table-color);
}

.project-stage {
    background: var(--table-color-fainter);
    font-size: 14px;
}

.project-stage[onclick], .contract-stage__title {
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

.project-stage[onclick] {
    cursor: pointer;
}

.project-map__calendar {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
    position: relative;
}

.project-map__line {
    display: grid;
    grid-template-columns: 25% 1fr;
}

.project-map__line__sub {
    display: grid;
    grid-auto-rows: 40px;
}

.project-map__header {
    height: var(--table-header-height);
    display: flex;
    align-items: center;
    padding: 0 var(--indent-3);
    background: var(--table-color-fainter);
    border-bottom: 1px solid var(--table-color);
}

.contract-stage__title {
    font-weight: 500;
    font-size: 14px;
    display: flex;
    align-items: center;
}

.contract-stage__title[onclick] {
    cursor: pointer;
}

.project-stage-bar {
    height: 100%;
}
.project-stage-bar__in {
    background: var(--table-bar-in-color);
    border-radius: 3px;
    position: relative;
    cursor: pointer;
}

.project-stage-bar__in--selected {
    background: var(--table-bar-in-color-darken);
}

.project-stage-bar__in--selected .project-stage-bar__date {
    opacity: 1;
}

.project-stage-bar__date {
    font-size: 12px;
    color: var(--dark);
    background: var(--light);
    padding: 0 var(--indent-1);
    border: 1px solid var(--table-bar-in-color);
    border-radius: 5px;
    line-height: 2;
    position: absolute;
    opacity: 0;
    top: 0;
    bottom: 0;
}

.no-right-border-radius{
    border-bottom-right-radius: 0;
    border-top-right-radius: 0;
}

.no-left-border-radius{
    border-bottom-left-radius: 0;
    border-top-left-radius: 0;
}

.project_stage-bar__date-mark {
    content: '';
    width: 5px;
    border-radius: 2px;
    opacity: 0;
    background: #00000033;
}

.contract-stage-bar__date {
    font-size: 12px;
    color: var(--dark);
    padding: 0 var(--indent-1);
    border-radius: 5px;
    line-height: 2;
}

.project-stage-bar__in--selected .project_stage-bar__date-mark {
    opacity: 1;
}

.p-line {}

.p-line--selected {
    background: var(--table-color-faint);
}

.project-map__calendar__contract-stage-bar--in {
    position: absolute;
    top: 0;
    bottom: 0;
    content: '';
    background: #6a8bc422;
    border-radius: 5px;
    border: 1px dashed #6a8bc455;
    cursor: pointer;
}

.project-map__calendar__contract-stage-bar--in:hover {
    border-style: solid;
    background: #6a8bc433;
    border-color: #6a8bc477;
}

.info-card {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    width: 400px;
    background: white;
    border-left: 1px solid var(--table-color);
    box-shadow: 0 0 20px var(--table-color);
    z-index: 2;
    overflow: auto;
}

.text-sm {
    font-size: 14px;
    color: #5b6975;
    margin: 0;
}

.contract-stage-card {
    border-color: var(--table-bar-in-color);
    cursor: pointer;
    overflow: hidden;
}

.contract-stage-card:hover {
    background: #7a6ac433;
}

.contract-stage-card:hover > p {
    color: var(--table-bar-in-color-darken) !important;
}

.project-task-card {
    border-color: #d3d3d3;
    cursor: pointer;
}

.project-task-card:hover {
    background: #D3D3D333;
}

.project-history {
    position: relative;
}

.project-history > * {
    cursor: default;
}

.project-card-popup {
    z-index: 3;
    position: absolute;
    top: 0;
    right: 0;
    width: 350px;
    background: white;
    border-radius: 5px;
    box-shadow: 0 5px 20px #343A4022;
    border: solid 1px var(--table-color);
    transition: opacity 1s ease-in-out;
}

.project-history__card {
}

.project-analytics {
    left: 0 !important;
    right: unset !important;
}

.project .navbar {
    padding: 0;
    margin: 0 !important;
}
.project .container {
    max-width: 100%;
    height: 100%;
    padding: var(--indent-3);
    padding-bottom: 0;
}


.project .navbar > .container {
    padding-top: var(--indent-1);
    padding-bottom: var(--indent-1);
}

.project body {
    height: 100vh;
    overflow: hidden;
    display: flex;
    flex-direction: column;
}

.project body, html {
    margin: 0;
    padding: 0;
}

.project footer {
    display: none;
}

.project main {
    display: flex;
    height: 100%;
    flex-direction: column;
    margin-bottom: -1rem;
}