:root {
    --indent-1: 6px;
    --indent-2: 12px;
    --indent-3: 20px;
    --indent-4: 40px;
    
    --table-color-faint: #f4f5f7;
    --table-color: #c1c7d0;
    
    --table-header-height: 50px;
    --table-column-width: 260px;
    --table-bar-in-color: #8777d9;
}

* {
    font-family: 'Inter', sans-serif !important;
    transition: 0.3s all;
}

a.navbar-brand {
    white-space: normal;
    text-align: center;
    word-break: break-all;
}

/* Provide sufficient contrast against white background */
a {
    color: #0366d6;
}

.validation-summary-errors ul {
    list-style: none;
}

.validation-summary-errors li {
    margin: 5px 0;
}

.btn-primary {
    color: #fff;
    background-color: #1b6ec2;
    border-color: #1861ac;
}

.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
    color: #fff;
    background-color: #1b6ec2;
    border-color: #1861ac;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
    font-size: 14px;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

.border-top {
    border-top: 1px solid #e5e5e5;
}

.border-bottom {
    border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
    box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy {
    font-size: 1rem;
    line-height: inherit;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
    position: relative;
    min-height: 100%;
}

body {
    /* Margin bottom by footer height */
    margin-bottom: 60px;
}

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    white-space: nowrap;
    line-height: 60px; /* Vertically center the text there */
}


button > a {
    color: white;
    text-decoration: none !important;
}

button > a:hover {
    color: white;
    text-decoration: none !important;
}

.table th {
    font-weight: 400;
}

.grid-default {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(25px, max-content));
    grid-template-rows: repeat(auto-fit, minmax(25px, max-content));
    grid-gap: var(--indent-2);
}

.grid-default-2 {
    grid-gap: var(--indent-3);
    grid-template-columns: repeat(auto-fit, minmax(100px, max-content));
}

.grid-default-3 {
    grid-gap: var(--indent-4);
}

.white-space-no-wrap {
    overflow: hidden;
    white-space: nowrap;
}

.grid-categories {
    grid-template-columns: repeat(auto-fit, minmax(70px, max-content));
}

.project-map {
    width: 100%;
    border: 1px solid var(--table-color);
    border-radius: 5px 5px 0 0;
    height: 100%;
    overflow: hidden;
}

.p-border-right {
    border-right: 1px solid var(--table-color);
}

.p-border-right-bold {
    border-right: 2px solid var(--table-color);
}

.p-border-bottom {
    border-bottom: 1px solid var(--table-color);
}

.p-border-bottom-bold {
    border-bottom: 2px solid var(--table-color);
}

.project-stage {
    background: var(--table-color-faint);
}

.project-map__calendar {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
}

.project-map__line {
    display: grid;
    grid-template-columns: 25% 75%;
}

.project-map__line__sub {
    display: grid;
    grid-auto-rows: 40px;
}

.project-map__header {
    height: var(--table-header-height);
    display: flex;
    align-items: center;
    padding: 0 var(--indent-3);
    background: var(--table-color-faint);
    border-bottom: 1px solid var(--table-color);
}

.contract-stage__title {
    font-weight: 500;
    font-size: 14px;
    display: flex;
    align-items: center;
}

.project-stage-bar {
    height: 100%;
}
.project-stage-bar--in {
    background: var(--table-bar-in-color);
    border-radius: 3px;
    position: relative;
}

.project-stage-bar--in:hover > .project-stage-bar__date {
    opacity: 1;
}

.project-stage-bar__date {
    font-size: 12px;
    color: var(--dark);
    line-height: 2;
    position: absolute;
    opacity: 0;
    top: 0;
    bottom: 0;
}

.no-right-border-radius{
    border-bottom-right-radius: 0;
    border-top-right-radius: 0;
}

.no-left-border-radius{
    border-bottom-left-radius: 0;
    border-top-left-radius: 0;
}