@model SignUpModel

<form method="post" asp-area="Auth" asp-controller="Auth" asp-action="SignUp" class="d-flex flex-column" style="max-width: 500px; margin: 0 auto">
    <h3 class="h3 mb-3 font-weight-normal" style="text-align: center">Регистрация</h3>
    <div class="d-flex flex-column">
        <input asp-for="Email" type="email" class="form-control mb-2 w-100" placeholder="Email">
    </div>
    <div class="d-flex flex-column">
        <input asp-for="Password" type="password" class="form-control mb-2 w-100" placeholder="Пароль">
        @Html.ValidationMessageFor(model => model.Password)
    </div>
    <div class="d-flex flex-column">
        <input asp-for="Name" type="text" class="form-control mb-2 w-100" placeholder="Имя">
        @Html.ValidationMessageFor(model => model.Name)
    </div>

    <div class="mb-2 d-flex align-center">
        <label asp-for="RoleId" class="control-label mr-2" style="line-height: 2.3">Роль</label>
        <select asp-for="RoleId" class="form-control" style="width: 100%" asp-items="ViewBag.Roles"></select>
        @Html.ValidationMessageFor(model => model.RoleId)
    </div>

    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    
    <input  class="btn btn-success btn-block" type="submit" value="Зарегистрироваться"/>
    <a class="mt-2" asp-area="Auth" asp-controller="Auth" asp-action="LogIn">
            <button class="btn btn-primary btn-block" type="button" id="btn-signup">Назад к входу</button>
        </a>
</form>